<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="Logs/internallog.txt">

  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <!--LINUX-->
  <!--<targets>
    <target name="logfile" xsi:type="File"
            fileName="../../../Logs/trace/${shortdate}_logfile_trace.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfileinfo" xsi:type="File"
            fileName="../../../Logs/info/${shortdate}_logfile_info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfiledebug" xsi:type="File"
            fileName="../../../Logs/debug/${shortdate}_logfile_debug.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfileerror" xsi:type="File"
            fileName="../../../Logs/error/${shortdate}_logfile_error.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfilewarm" xsi:type="File"
            fileName="../../../Logs/warm/${shortdate}_logfile_info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfilefatal" xsi:type="File"
            fileName="../../../Logs/fatal/${shortdate}_logfile_info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logconsole" xsi:type="Console" />
  </targets>-->
  <!--WINDOWS-->
  <targets>
    <target name="logfile" xsi:type="File"
				fileName="C:/ApplicationsSupport/Microservice/Logs/trace/${shortdate}_logfile_trace.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfileinfo" xsi:type="File"
				fileName="C:/ApplicationsSupport/Microservice/Logs/info/${shortdate}_logfile_info.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfiledebug" xsi:type="File"
				fileName="C:/ApplicationsSupport/Microservice/Logs/debug/${shortdate}_logfile_debug.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfileerror" xsi:type="File"
				fileName="C:/ApplicationsSupport/Microservice/Logs/error/${shortdate}_logfile_error.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfilewarm" xsi:type="File"
				fileName="C:/ApplicationsSupport/Microservice/Logs/warm/${shortdate}_logfile_info.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfilefatal" xsi:type="File"
				fileName="C:/ApplicationsSupport/Microservice/Logs/fatal/${shortdate}_logfile_info.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logconsole" xsi:type="Console" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="logfileinfo" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logfiledebug" />
    <logger name="*" minlevel="Error" writeTo="logfileerror" />
    <logger name="*" minlevel="Warn" writeTo="logfilewarm" />
    <logger name="*" minlevel="Fatal" writeTo="logfilefatal" />
  </rules>
</nlog>